
body {
	font-family:  "Arial", sans-serif;
	margin: 0px;
	background-color: #f8f9fa;
	max-width: 2000px;
	
    margin-left: auto;
    margin-right: auto;
}


.flash h4 {
    line-height: 2;
}



.card-title {
	color:blue;
}

strong {
	color:black;
}
