{% extends "base.html" %}
{% block content %}

  <h3 class="center-align">Add New Job</h3>

  <div class="row card-panel blue lighten-5">
      <form class="col s12" method="POST" action="{{ url_for('add_job') }}">
      <!-- Dropdown for Select Job Type -->
          <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">dvr</i>
                <select id="job_type_name" name="job_type_name" class="validate" required>
                <option value="" disabled selected>Select Job Type</option>
            {% for job_category in job_type %}
              <option value="{{job_category.job_type_name}}">{{job_category.job_type_name}}</option>
            {% endfor %}
          </select>
                  <label for="job_type_name">Job Type</label>
              </div>
            </div>
          
      <!-- Job Name -->
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="job_name" name="job_name" minlength="5" maxlength="50" type="text" class="validate" required>
          <label for="job_name">Job Name</label>
        </div>
      </div>

      <!-- Job Description -->
    <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">description</i>
          <textarea id="job_description" name="job_description" minlength="5" maxlength="200" class="materialize-textarea"></textarea>
          <label for="job_description">Job Description</label>
        </div>
      </div>
      <!-- Set Job Creation Date -->
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">date_range</i>
          <input id="job_created" name="job_created" type="text" class="datepicker validate" required>
          <label for="job_created">Job Created Date</label>
        </div>
      </div>
      <!-- Set the completion Date -->
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">date_range</i>
          <input id="job_due_date" name="job_due_date" type="text" class="datepicker validate" required>
          <label for="job_due_date">Job Due Date</label>
        </div>
      </div>
      <!-- Dropdown for Job Status -->
      
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">dvr</i>
          <select id="job_status_name" name="job_status_name" class="validate" required>
          <option value="" disabled selected>Select Job Status</option>
      {% for job_status_n in job_status %}
        <option value="{{job_status_n.job_status_name}}">{{job_status_n.job_status_name}}</option>
      {% endfor %}
        </select>
            <label for="job_status_name">Job Status</label>
        </div>
      </div>
      <!-- Priority Switch -->
      <div class="row">
        <div class="input-field col s12">
          
          <div class="switch">
            <i class="material-icons prefix">info_outline</i>       
            <label for="job_priority">
                <input type="checkbox" id="job_priority" name="job_priority">
                <span class="lever"></span>
              Yes
            </label>
          </div>
        </div>
      </div>
    <!-- Create Job Button -->
    <div class="row">
      <div class="col s12 center-align">
        <button type="submit" class="waves-effect waves-light btn-large">
          <i class="material-icons left">send</i>Create Job</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}