<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" type="text/css" />
    <!-- Materialize via CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Link to static style.css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <!-- Custom CSS injection --> {% block styles %} {% endblock %} <title>Jobs Worklist</title>
    <!--This project was inspired by the Code Institute Mini Walk Through Project TaskManagerAuth -->
  </head>
  <body>
    <header>
      <nav>
        <!-- Top Navigation bar -->
        <div class="nav-wrapper #4a148c purple darken-4">
          <a href="{{ url_for('get_jobs') }}" id="title" alt=" Below the Hook Ltd">Below the Hook Ltd</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger right">
            <i class="fas fa-bars"></i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="{{ url_for('home') }}">Home</a>
            </li> {% if session.user %} <li>
              <a href="{{ url_for('get_jobs') }}">Worklist</a>
            </li>
            <li>
              <a href="{{ url_for('list_staff') }}">List of Colleagues</a>
            </li>
            <li>
              <a href="{{ url_for('add_job') }}">New Job</a>
            </li> {% if session.user|lower == "sysadmin"|lower %} <li>
              <a href="{{ url_for('get_job_type') }}">Manage Job Types</a>
            </li>
            <li>
              <a href="{{ url_for('get_job_status') }}">Manage Job Status</a>
            </li> {% endif %} {% if session.user|lower == "sysadmin"|lower %} <li>
              <a href="{{ url_for('create_account') }}">Create Staff Account</a>
            </li>
            <li>
              <a href="{{ url_for('get_staff') }}">All Staff</a>
            </li> {% endif %} <li>
              <a href="{{ url_for('logout') }}">Log Out</a>
            </li> {% else %} <li>
              <a href="{{ url_for('login') }}">Login</a>
            </li> {% endif %}
          </ul>
        </div>
      </nav>
      <!-- Side Navigation bar -->
      <ul class="sidenav" id="mobile-demo">
        <li class="center-align light-blue-text text-darken 4">Task Manager </h4>
        </li> {% if session.user %} <li>
          <a href="{{ url_for('get_jobs') }}">Worklist</a>
        </li>
        <li>
          <a href="{{ url_for('list_staff') }}">List of Colleagues</a>
        </li>
        <li>
          <a href="{{ url_for('add_job') }}">New Job</a>
        </li> {% if session.user|lower == "sysadmin"|lower %} <li>
          <a href="{{ url_for('get_job_type') }}">Manage Job Types</a>
        </li>
        <li>
          <a href="{{ url_for('get_job_status') }}">Manage Job Status</a>
        </li> {% endif %} {% if session.user|lower == "sysadmin"|lower %} <li>
          <a href="{{ url_for('create_account') }}">Create Staff Account</a>
        </li>
        <li>
          <a href="{{ url_for('get_staff') }}">All Staff</a>
        </li> {% endif %} <li>
          <a href="{{ url_for('logout') }}">Log Out</a>
        </li> {% else %} <li>
          <a href="{{ url_for('login') }}">Login</a>
        </li> {% endif %}
      </ul>
    </header>
    <section>
      <!-- flash messages --> {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} <div class="row flashes">
        <h4 class="light-blue lighten-4 center-align">{{ message }}</h4>
      </div> {% endfor %} {% endif %} {% endwith %}
    </section>
    <main class="container"> {% block content %} {% endblock %} </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Link to static Javascript script.js file -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- Custom CSS injection --> {% block scripts %} {% endblock %}
  </body>
</html>
