{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Create Staff User Account</h3>
<div class="row">
  <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('create_account') }}">
    <div class="card-panel blue lighten-5">
      <!-- Staff Username-->
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="username" name="username" type="text" minlength="6" maxlength="12" pattern="^[a-zA-Z0-9]{6,12}$" class="validate" required>
          <label for="username">Username</label>
        </div>
      </div>
      <!-- Password-->
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">security</i>
          <input id="password" name="password" type="password" minlength="6" maxlength="12" pattern="^[a-zA-Z0-9-!_@]{6,12}$" class="validate" required>
          <label for="password">Password</label>
        </div>
      </div>
      <!-- First Name-->
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">recent_actors</i>
          <input id="first_name" name="first_name" type="text" class="validate" required>
          <label for="first_name">First Name</label>
        </div>
      </div>
      <!-- Surname-->
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">recent_actors</i>
          <input id="surname" name="surname" type="text" class="validate" required>
          <label for="surname">Surname</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">recent_actors</i>
          <input id="role" name="role" type="text" class="validate" required>
          <label for="role">Role</label>
        </div>
      </div>
      <!-- Set the completion Date -->
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">date_range</i>
          <input id="account_created" name="account_created" type="text" class="datepicker validate" required>
          <label for="account_created">Date Account Created</label>
        </div>
      </div>
      <!-- Create Account Button-->
      <div class="row">
        <button type="submit" class="waves-effect waves-light btn-large">
          <i class="material-icons left">create</i>Create Account </button>
      </div>
    </div>
  </form>
</div
{% endblock %}