{% extends "base.html" %}
{% block content %}


    {% for job in jobs %}
        {{ job.job_type_name }}<br>
        {{ job.job_name }}<br>
        {{ job.job_description }}<br>
        {{ job.job_priority }}<br>
        {{ job.job_due_date }}<br>
    {% endfor %}

    <ul class="collapsible">
        <li>
            <div class="collapsible-header">
                <i class="material-icons">view_day</i>First</div>
            <div class="collapsible-body">
                <span>Lorem ipsum dolor sit amet.</span></div>
        </li>
      </ul>    

{% endblock %}