{% extends "base.html" %}
{% block content %}

<h3 class="center-align">All Jobs</h3>

<ul class="collapsible">
    {% for job in jobs %}
    <li>
        <div class="collapsible-header">
            <div class="col s4">
                <i class="material-icons">view_day</i>
                {% if session.user|lower == job.created_by|lower %}
                <a href="{{ url_for('edit_job', job_id=job._id) }}" <a class="btn-small"><i class="material-icons left"></i>Edit Job</a>
                {% endif %}
            </div>
            <div class="col s9">
                <strong>{{ job.job_name }}</strong> - Due Date: {{ job.job_due_date }}
                    {% if job.job_priority == "on" %}
                        <i class="material-icons tooltipped" data-position="right" data-tooltip="URGENT!">whatshot</i>
                    {% endif %}
            </div>
        </div>
        <div class="collapsible-body">
            <strong>{{ job.job_type_name }}</strong>
            <p>{{ job.job_description }}</p>
            <p><em>by: {{ job.created_by }}</em></p>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}